// scss-docs-start gray-color-variables

$white: #fff !default;
$gray-100: #fcfbfd !default;
$gray-200: #fdfcfe !default;
$gray-300: #e8e6eb !default;
$gray-400: #dcdbe3 !default;
$gray-500: #b0adb6 !default;
$gray-600: #89868d !default;
$gray-700: #616179 !default;
$gray-800: #5a5a70 !default;
$gray-900: #1B181E !default;
$black: #000 !default;

// scss-docs-end gray-color-variables


// scss-docs-start color-variables

$blue: #454eb0 !default;
$indigo: #072057 !default;
$purple: #451481 !default;
$pink: #ef1258 !default;
$red: #e25441 !default;
$orange: #c8460f !default;
$yellow: #ffb649 !default;
$green: #27a27f !default;
$teal: #00bb86 !default;
$cyan: #1a83e4 !default;


$primary-color: #ea3c5a !default;
$secondary-color: #24242a !default;

// scss-docs-end color-variables



